#timeLeft {
  max-width:400px;
  display:flex;
  flex-wrap:wrap;
}

#timeLeft > li { 
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-right:4px;
  margin-bottom:4px;
  list-style: none;
  text-align:center
}

.lived {
  background-color: red;
}

.living{
  background-color: yellow;
}

.yetToLive {
  background-color: white;
}
