#timeLeft {
  max-width:400px
}

li { 
    width: 10px;
  height:10px;
  border: 1px solid black;

}

.lived {
  backgroundColor: red;
}

.living{
  backgoundColor: yellow;
}

.yetToLive {
  backgroundColor: green;
}
