#timeLeft {
  max-width:400px;
  display:flex;
}

#timeLeft > li { 
  width: 20px;
  height:20px;
  border: 1px solid black;
  margin-right:4px;
  list-style: none;
}

.lived {
  backgroundColor: red;
}

.living{
  backgoundColor: yellow;
}

.yetToLive {
  backgroundColor: green;
}
